# Build and Release Folders
**/bin/*
**/bin-debug/*
**/bin-release/*
**/target/*
**/out/*
**/node_modules/*
**/bower_modules/*

# Other files and folders
**/.settings/*
**/.idea/*
*.csv
*.arff
*.Rhistory
tags
TAGSc
Makefile
*.docx
*.jar
*.iml
*.Rproj

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.Rproj.user
