.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-row: 1fr auto 1fr;
    grid-gap: 10px;
}

header, article, footer {
    background: #eee;
    padding: 3px;
}

header, footer {
    grid-column: 1 / 4;
}

article {
    grid-column: 1 / 4;
}

nav {
  justify-content: space-between !important;
}

.form_yeni_plan {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
