;; fulcro tipi veritabanı id=g13092
;;   id:: f284aba4-df07-46ec-9ba3-6d1bf3c205f4

;; rfr
; person-tree'deki nested datayı normalize eder ve şu client DB'yi üretir: <url:file:///~/projects/study/clj/articles_fulcro.otl#r=g13090>
; 4.9. The Secret Sauce – Normalizing the Database <url:file:///~/projects/study/clj/articles_fulcro.otl#r=g13088>
; mevcut state'i ve query'yi kullanarak, veri ağacını çekme fonksiyonu: <url:file:///~/projects/study/clj/articles_fulcro.otl#r=g13089>

;; örnek: db
{:person/id  {123 {:person/id 123, :person/fname "Jo", :person/address [:address/id 3]}}}

;; örnek: normal db
{:person/id  {1  {:person/id 1   :person/fname "Jo" :person/address [:address/id 11]}}
 :address/id {11 {:address/id 11 :address/street "Elm Street 7"}}}

;; örnek: nested data tree
(def person-tree
    {:person/id 1
     :person/fname "Jo"
     :person/address {:address/id 11
                      :address/street "Elm Street 7"}})

;; örnek: normalized db
{:list/id {:friends  {:list/id :friends
                      :list/label "Friends"
                      :list/people [[:person/id 1] [:person/id 2]]}}
 :person/id {1 {:person/id 1 :person/name "Joe"}
             2 {:person/id 2 :person/name "Sally"}}}

;; örnek: tree (nested objects)
{:friends {:list/id :friends,
           :list/label "Friends",
           :list/people [{:person/id 1, :person/name "Sally", :person/age 32}
                         {:person/id 2, :person/name "Joe", :person/age 22}]},
 :enemies {:list/id :enemies,
           :list/label "Enemies",
           :list/people [{:person/id 3, :person/name "Fred", :person/age 11}
                         {:person/id 4, :person/name "Bobby", :person/age 55}]}}


; [A] 1-n [B]
; [B] 1-n [C]

;; a01

{:A []}

(def dbSample {
               :person [{:id 1 :name "lodos" :surname "eskioğlu" :joindate "01.06.2022" :experience 1 :loyalitylevel 1 :worktime 3}
                        {:id 2 :name "alp" :surname "boriçi" :joindate "04.04.2021" :experience 2 :loyalitylevel 2 :worktime 1}
                        {:id 3 :name "emir" :surname "sürmeli" :joindate "09.01.2022" :experience 3 :loyalitylevel 1 :worktime 2}
                        {:id 4 :name "deniz" :surname "zengin" :joindate "07.08.2020" :experience 2 :loyalitylevel 2 :worktime 1}
                        {:id 5 :name "alphan" :surname "kaplan" :joindate "01.03.2022" :experience 1 :loyalitylevel 1 :worktime 3}
                        {:id 6 :name "barış" :surname "can" :joindate "04.04.2020" :experience 2 :loyalitylevel 2 :worktime 1}]

               :employees [:developerteam [:frontend [{:person 1}
                                                      {:person 2}
                                                      {:person 3}
                                                      {:person 4}]
                                           :backend [{:person 5}
                                                     {:person 6}]]]})
