{:deps {:aliases [:cljs]}
 :dev-http {4400 ["resources/" "target/pwa/"]}
 ;:nrepl {:middleware [portal.nrepl/wrap-portal]}
 :nrepl {:init-ns user
         :repl-pprint true}
 :builds
 {
  :pwa
  {:output-dir "target/pwa/"
   :asset-path "."
   :target :browser
   :compiler-options
               {:infer-externs true
                :warnings-as-errors true}
   :modules {:main {:init-fn portal.ui.pwa/main!}}
   :release {:output-dir "target/pwa-release/"}
   :devtools {:after-load portal.ui.pwa/reload!}}

  }}
