.container {
  display: grid;
  grid-template: 40px 200px 40px / 1fr 4fr;
  grid-gap: 3px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.menu {}

.content {}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}


