.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 200px 40px;
  grid-gap: 3px;
}

.header {
  grid-column: 2 / -1;
}

.menu {
  grid-row: 1 / 3;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 1 / -1;
}


