{:deps
 {org.clojure/data.csv {:mvn/version "0.1.4"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/data.generators {:mvn/version "0.1.2"}
  org.clojure/clojure {:mvn/version "1.10.3"}
  com.datomic/dev-local {:mvn/version "0.9.225"}
  com.datomic/datomic-pro {:mvn/version "0.9.5951"}
  fipp/fipp {:mvn/version "0.6.6"}}
 :paths ["src/clj" "examples/clj"]
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}}
 

