{:highlights [{:id #uuid "650a6d74-4b2c-476a-a814-c10c1ab61c9b",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 780.3379516601562,
                                     :y2 331.28125,
                                     :width 829.9999999999999,
                                     :height 1233.3333333333333},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}
                                  {:x1 619.5870361328125,
                                   :y1 247.7265625,
                                   :x2 780.3379516601562,
                                   :y2 265.2265625,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}
                                  {:x1 298.09375,
                                   :y1 271.2109375,
                                   :x2 770.588623046875,
                                   :y2 286.7109375,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}
                                  {:x1 298.2265625,
                                   :y1 293.859375,
                                   :x2 769.755859375,
                                   :y2 309.359375,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}
                                  {:x1 298.4296875,
                                   :y1 313.78125,
                                   :x2 560.0919189453125,
                                   :y2 331.28125,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}),
                          :page 3},
               :content {:text "y, they hanker after academic respectability. In terms of the prevailing norms, academic respectability calls for subject matter that is intellectually tough, analytic, formalizable, and teacha"},
               :properties {:color "yellow"}}
              {:id #uuid "650a6d83-d609-48cb-8938-5d78c9449688",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 773.189697265625,
                                     :y2 396.1640625,
                                     :width 829.9999999999999,
                                     :height 1233.3333333333333},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}
                                  {:x1 359.3658447265625,
                                   :y1 357.3828125,
                                   :x2 773.189697265625,
                                   :y2 374.8828125,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}
                                  {:x1 297.828125,
                                   :y1 380.6640625,
                                   :x2 341.3326110839844,
                                   :y2 396.1640625,
                                   :width 829.9999999999999,
                                   :height 1233.3333333333333}),
                          :page 3},
               :content {:text "s was intellectually soft, intuitive, informal, and cookbooky"},
               :properties {:color "red"}}
              {:id #uuid "650a700d-2d55-43af-9908-baa897af536c",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 319.42926025390625,
                                     :y2 1114.3046875,
                                     :width 929.5999999999999,
                                     :height 1381.3333333333333},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}
                                  {:x1 274.7849426269531,
                                   :y1 1017.359375,
                                   :x2 301.58111572265625,
                                   :y2 1029.359375,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}
                                  {:x1 84.5390625,
                                   :y1 1034.5859375,
                                   :x2 306.5393981933594,
                                   :y2 1046.5859375,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}
                                  {:x1 83.9765625,
                                   :y1 1048.4921875,
                                   :x2 303.84521484375,
                                   :y2 1060.4921875,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}
                                  {:x1 84.59375,
                                   :y1 1064.9765625,
                                   :x2 303.016357421875,
                                   :y2 1077.4765625,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}
                                  {:x1 84.6484375,
                                   :y1 1085.0078125,
                                   :x2 319.42926025390625,
                                   :y2 1097.5078125,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}
                                  {:x1 84.875,
                                   :y1 1101.8046875,
                                   :x2 177.90252685546875,
                                   :y2 1114.3046875,
                                   :width 929.5999999999999,
                                   :height 1381.3333333333333}),
                          :page 3},
               :content {:text "What I am urging in this essay is not a departure from the fundamental but an inclusion in the curriculum of the fundamental in engineering along with the fundamental in natural scienc"},
               :properties {:color "green"}}],
 :extra {:page 4}}
